<h2>Create a new task </h2>



<!--, html: { class: "task-form" }, url: new_task_list_tasks -->

<%= form_for [@task_list, @task] do |f| %>


  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div>
    <%= f.submit "Create Task"  %>
  </div>

<% end %>
