<h2>Edit a task list</h2>

<%= form_for @task_list, url: id_path, html: { class: "signin-form" } do |f| %>

  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Update Task List"  %>
  </div>

<% end %>